<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CW Admin</title>
    <style>
*{user-select: none;}
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
i{cursor: alias;}
b{cursor: help;}
    </style>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

</head>
<body oncontextmenu= "return false;" ondragstart="return false">
    <h2>CW Admin</h2>
    <form method="post" action="cw" id="parameterForm">
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Image</th>
                    <th>Redirect URL</th>
                </tr>
            </thead>
            <tbody>
{% for key, values in data.items() %}
                <tr id="c{{ loop.index }}">
    <td><input type="text" name="keyy" id="{{ loop.index }}" value="{{ key }}" required> <i onclick="del({{ loop.index }})">X</i> <i onclick="cpy({{ loop.index }})">🔗</i> 
<div title="Unique Legit Visitors: {{ cdata[key][0] }} | Bot/Proxy Traffic Count: {{ cdata[key][1] }} | Total Visits: {{ cdata[key][2] }}"><b title="unique legit visitors">👤: {{ cdata[key][0] }}</b>  <b title="bot/proxy traffic count">🤖: {{ cdata[key][1] }}</b>  <b title="total visits">➕: {{ cdata[key][2] }}</b></div></td> 
        {% for value in values %}
            <td><input type="text" name="vall" value="{{ value }}" required></td>
        {% endfor %}
	
	         </tr>
{% endfor %}
            </tbody>
        </table>
        <br>
        <button type="button" onclick="addRow()">Add Row</button>
        <br><br>
        <input type="submit" value="Submit">
    </form>
<input type="hidden" id="copytoclip" value="">
<script>
	  const url = new URL(window.location.href);
	  const port = window.location.port;
const domain = `${url.protocol}//${url.hostname}${port ? `:${port}` : ''}`;

    function del(e){
	document.getElementById("c"+e).remove();
  }
  
        function cpy(e){
var cname=document.getElementById(e).value;
try{	
	  navigator.clipboard.writeText(domain+"/"+cname);
}catch{}
try{
var copyText = document.querySelector("#copytoclip");
copyText.value=domain+"/"+document.getElementById(e).value;
copyText.type='text';
copyText.select();
document.execCommand("copy");
copyText.type='hidden';
}catch{}
  }

</script>

    <script>
	
	        let userCount = {{ cnt }};

        function addRow() {
		userCount++;
            const tbody = document.querySelector('tbody');
            const newRow = document.createElement('tr');
			newRow.id="c"+userCount;
            newRow.innerHTML = `
                <td><input type="text" id="${userCount}" name="keyy" required><i onclick="del(${userCount})">X</i> <i onclick="cpy(${userCount})">🔗</i></td>
                <td><input type="text" name="vall" required></td>
                <td><input type="text" name="vall" required></td>
            `;
            tbody.appendChild(newRow);
        }
    </script>
</body>
</html>
